{% extends "base.html" %}
{% block content %}
<h2>📋Patron Status Report</h2>

<form method="POST" class="form-group" style="max-width:420px;margin-top:12px;">
  <label for="patron_id">Patron ID*</label>
  <input type="text" id="patron_id" name="patron_id" value="{{ patron_id }}" maxlength="6" required>
  <small style="color: #666;">6-digit library card number</small>
  <div style="margin-top:10px;">
    <button class="btn btn-success" type="submit">Load Patron Report</button>
    <a href="{{ url_for('catalog.catalog') }}" class="btn" style="margin-right: 10px;">Cancel</a>
  </div>
</form>

{% if report %}
  <div style="margin-top:20px;">
    <p><strong>Patron ID:</strong> {{ report.patron_id }}</p>
    <p><strong>Currently Borrowed:</strong> {{ report.currently_borrowed_number }}</p>
    <p><strong>Total Late Fees Owed:</strong> ${{ '%.2f'|format(report.fee_amount) }}</p>
  </div>
    <h3>Currently Borrowed</h3>
  {% if report.borrowed_book_with_due_date %}
  <table>
    <thead>
      <tr><th>Title</th><th>Author</th><th>Date Borrowed</th><th>Due Date</th><th>Status</th><th>Fee Owned</th></tr>
    </thead>
    <tbody>
      {% for item in report.borrowed_book_with_due_date %}
      <tr>
        <td>{{ item.title }}</td>
        <td>{{ item.author }}</td>
        <td>{{ item.borrow_date.strftime('%Y-%m-%d') }}</td>
        <td class="{{ 'status-unavailable' if item.is_overdue else 'status-available' }}">{{ item.due_date.strftime('%Y-%m-%d') }}</td>
        <td>
          {% if item.is_overdue %}
            <span class="status-unavailable">{{ item.days_overdue }} days overdue</span>
          {% else %}Not Overdue{% endif %}
        </td>
        <td>${{ '%.2f'|format(item.current_fee) }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p class="flash-success">Currrently have no borrowed book.</p>
  {% endif %}
    <h3>Borrowing History</h3>
  {% if report.history %}
  <table>
    <thead>
      <tr><th>Number</th><th>Book ID</th><th>Borrowed Date</th><th>Due Date</th><th>Returned</th></tr>
    </thead>
    <tbody>
      {% for r in report.history %}
      <tr>
        <td>{{ loop.index }}</td> 
        <td>{{ r.book_id }}</td>
        <td>{{ r.borrow_date[:10]}}</td>
        <td>{{ r.due_date[:10] }}</td>
        <td>{% if r.return_date %}{{ r.return_date[:10]}}{% else %}<span class="status-unavailable">Not returned</span>{% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p class="flash-error">No borrowing history yet.</p>
  {% endif %}
{% endif %}
{% endblock %}